/*
These are styles that make the canvas full-screen.
It's okay if you don't understand this code yet.
*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas#theCanvas {
    width: 100%;
    height: 100%;
}